.docs-content > h2[id]::before,
.docs-content > h3[id]::before,
.docs-content > h4[id]::before {
  display: block;
  height: 6rem;
  margin-top: -6rem;
  content: "";
}

.anchor {
  visibility: hidden;
  padding-left: 0.5rem;
}

h2,
h3 {
  .badge {
    font-size: 0.7rem !important;
    margin-left: 0 !important;
  }

  @include media-breakpoint-up(md) {
    .badge {
      font-size: 0.8rem !important;
      margin-left: .3rem !important;
    }
  }
}

article {
  h1 {
    color: $primary;
    margin-top: 0.5rem;

    @include media-breakpoint-up(md) {
      margin-top: 2rem;
    }
  }

  h2 {
    margin-top: 0.5rem;

    @include media-breakpoint-up(md) {
      margin-top: 2rem;
    }
  }

  table {
    margin: 0 0 2rem;
    width: auto;
  }

  a:not(.stretched-link):not(.btn) {
    font-weight: 600;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .lead {
    @include font-size(1.5rem);
  }
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a {
  visibility: visible;
  text-decoration: none;
}

.card-list {
  margin-top: 2.25rem;
}

.edit-page {
  margin-top: 3rem;
  font-size: $font-size-base;
}

.edit-page svg {
  margin-right: 0.5rem;
  margin-bottom: 0.25rem;
}

p.meta {
  margin-top: 0.5rem;
  font-size: $font-size-base;
}

.breadcrumb {
  margin-top: 2.25rem;
  font-size: $font-size-base;
}

.page-link:hover {
  text-decoration: none;
}

.card-body.flex-fill {
  &.border-primary {
    border-color: $orange-lightest !important;
  }

  .card-img {
    min-height: 220px;
  }

  .btn {
    max-width: 235px;
    min-width: 180px;
    margin-left: auto;
    margin-right: auto;
  }
}

.page-custom {
  max-width: 100% !important;
  padding-left: 0;
  padding-right: 0;

  h2 > a {
    color: $body-color;

    &:hover,
    &:focus {
      color: $primary;
    }

    &[href*="https"]::after {
      width: 18px;
      height: 18px;
      background-size: cover;
      display: inline-block;
      content: '';
      margin-left: 0.5rem;
      background-image: url("data:image/svg+xml,%3Csvg height='39' viewBox='0 0 39 39' width='39' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m39 0v16.059344l-6.4076134-6.40761334-18.827993 18.82799304-3.243724-3.243724 18.827993-18.82799304-6.4072201-6.40761339zm-6.8822951 39h-32.1177049v-32.11770489h18.3531147v4.58832779h-13.76459023v22.940656h22.94065593v-13.7645902h4.5885245z'/%3E%3C/svg%3E");
    }
  }

  .lead {
    @include font-size(1.5rem);
  }

  > .content {
    padding-top: 0;
    padding-bottom: 0;

    @include media-breakpoint-up(md) {
      padding-bottom: 3rem;
    }
  }

  .page-header {
    max-height: 10vw;
    min-height: 100px;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid $gray-200;

     @include media-breakpoint-up(md) {
      min-height: 120px;
     }

     @include media-breakpoint-up(lg) {
      min-height: 150px;
     }

     @include media-breakpoint-up(xxl) {
      min-height: 170px;
     }

    &::after {
      position: absolute;
      bottom: 0;
      content: '';
      left: 0;
      right: 0;
      top: 0;
      background: rgba($gray-400,0.8);
      z-index: 2;
    }

    .page-title {
      width: 100%;
      position: absolute;
      top: 50%;
      z-index: 3;
      transform: translateY(-50%);

      h1 {
        @include font-size(3.3rem);
        margin-top: 0;
        margin-bottom: 0;
        //color: $white;
        // color: $primary;
      }
    }

    img {
      width: 100%;
      height: 100px;
      object-fit: cover;
      z-index: 1;
      position: relative;

      @include media-breakpoint-up(sm) {
        height: auto;
      }
    }
  }
}

.page-default {
  max-width: 100%;
}

.checkmarks {
  @include list-unstyled;

  > li {
    position: relative;
    padding: 0 0 .5rem 2rem;

    &::before {
      width: 20px;
      height: 20px;
      display: inline-block;
      position: absolute;
      left: 0;
      top: 3px;
      content: '';
      vertical-align: middle;
      background-image: url("data:image/svg+xml,%3Csvg class='me-2' height='20' viewBox='0 0 248 248' width='20' fill='%23198754' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(.791308 .639837)'%3E%3Cpath d='m243.098692 25.8601633c-4.3672-4.3438-11.422-4.3438-15.789 0l-104.11 104.0499997-36.9019996-36.8479997c-4.4453-3.8047-11.07-3.5469-15.207.58984s-4.3906 10.7579997-.58594 15.2029997l44.8009996 44.801c4.3672 4.3398 11.422 4.3398 15.789 0l112-111.9999997c4.3438-4.3711 4.3438-11.426 0-15.793z'/%3E%3Cpath d='m243.938692 98.6601633c-1.2344-6.0625-7.1523-9.9727-13.215-8.7383-6.0625 1.2383-9.9727 7.1562-8.7344 13.2189997 6.1992 30.273-1.832 61.719-21.789 85.316-19.957 23.594-49.633 36.73-80.516 35.641-30.8869996-1.0898-59.5619996-16.285-77.8089996-41.227-18.242-24.945-24.035-56.879-15.719-86.6409997 8.3203-29.766 29.832-54.066 58.363-65.938 28.5309996-11.867 60.9339996-9.9961 87.9059996 5.0859 5.3984 3.0938 12.281 1.2266 15.375-4.1719 3.0898-5.3984 1.2227-12.277-4.1719-15.371-31.66-17.81599997-69.57-20.75399997-103.5999996-8.02339997-34.023 12.72999997-60.695 39.82799997-72.887 74.05099997-12.188 34.2229997-8.6523 72.0819997 9.6641 103.4599997 18.32 31.371 49.551 53.062 85.3439996 59.27 35.793 6.208 72.504-3.7031 100.32-27.074 27.812-23.375 43.887-57.832 43.934-94.16-.003907-8.293-.82812-16.566-2.4648-24.6949997z'/%3E%3C/g%3E%3C/svg%3E ");
    }
  }
}

.benefits {
  @include list-unstyled;

  > li {
    background: $gray-200;
    padding: 1rem 1rem 1rem 3rem;
    position: relative;
    // font-weight: bold;

    &::before {
      width: 20px;
      height: 20px;
      display: inline-block;
      position: absolute;
      left: 1rem;
      top: 17px;
      content: '';
      vertical-align: middle;
      background-image: url("data:image/svg+xml,%3Csvg class='me-2' height='20' viewBox='0 0 248 248' width='20' fill='%23198754' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform='translate(.791308 .639837)'%3E%3Cpath d='m243.098692 25.8601633c-4.3672-4.3438-11.422-4.3438-15.789 0l-104.11 104.0499997-36.9019996-36.8479997c-4.4453-3.8047-11.07-3.5469-15.207.58984s-4.3906 10.7579997-.58594 15.2029997l44.8009996 44.801c4.3672 4.3398 11.422 4.3398 15.789 0l112-111.9999997c4.3438-4.3711 4.3438-11.426 0-15.793z'/%3E%3Cpath d='m243.938692 98.6601633c-1.2344-6.0625-7.1523-9.9727-13.215-8.7383-6.0625 1.2383-9.9727 7.1562-8.7344 13.2189997 6.1992 30.273-1.832 61.719-21.789 85.316-19.957 23.594-49.633 36.73-80.516 35.641-30.8869996-1.0898-59.5619996-16.285-77.8089996-41.227-18.242-24.945-24.035-56.879-15.719-86.6409997 8.3203-29.766 29.832-54.066 58.363-65.938 28.5309996-11.867 60.9339996-9.9961 87.9059996 5.0859 5.3984 3.0938 12.281 1.2266 15.375-4.1719 3.0898-5.3984 1.2227-12.277-4.1719-15.371-31.66-17.81599997-69.57-20.75399997-103.5999996-8.02339997-34.023 12.72999997-60.695 39.82799997-72.887 74.05099997-12.188 34.2229997-8.6523 72.0819997 9.6641 103.4599997 18.32 31.371 49.551 53.062 85.3439996 59.27 35.793 6.208 72.504-3.7031 100.32-27.074 27.812-23.375 43.887-57.832 43.934-94.16-.003907-8.293-.82812-16.566-2.4648-24.6949997z'/%3E%3C/g%3E%3C/svg%3E ");
    }

    &:nth-child(odd) {
      background: $gray-100;
    }
  }

  .col {
    background: $gray-200;

    &:nth-child(odd) {
      background: $gray-100;
    }

    ul {
      @include list-unstyled;

      li {
        margin-bottom: 1.5rem;
      }
    }
  }
}

.page-custom,
.page-cards {
  //h4 {
  //  font-weight: 500;
  //  margin-top: 0.25rem;
  //  transition: $transition-base;
  //}

  .card-xxl {
    padding: 0.5rem;

    h2 {
      // color: $primary;
      margin-top: 0;

      .badge {
        font-size: 0.8rem !important;
      }
    }

    h3 {
      margin-bottom: 0;
      margin-top: 0;
      @include font-size(1.3rem);
    }

    p {
      margin-bottom: 1.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .card-body {
    > a:not(.btn),
    ul a {
      color: unset;
      text-decoration: unset;
      font-weight: unset;
      display: block;

      &:hover {
        h4 {
          color: $link-color;
        }
      }

      svg {
        width: 32px;
        height: 32px;
        display: flex;
      }
    }
  }
}

.section {
  @include media-breakpoint-up(lg) {
    .table {
      max-width: 75%;
    }
  }
}

.download-link {
  display: block;

  h3::after {
    width: 18px;
    height: 18px;
    background-size: cover;
    display: inline-block;
    content: '';
    margin-left: 0.75rem;
    background: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTMgMTMiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJtMCAwaDEzdjEzaC0xM3oiLz48cGF0aCBkPSJtMTAuMzIzNjI1IDYuNzM4ODc1LTEuMTUwNS0xLjE1MDUtMS44NjA2MjUgMS44NjM4NzV2LTcuNDUyMjVoLTEuNjI1djcuNDUyMjVsLTEuODYzODc1LTEuODYzODc1LTEuMTQ5Njg3NSAxLjE1MDUgMy44MjYwNjI1IDMuODIzNjI1em0yLjY3NjM3NSA0LjYzNjEyNWgtMTN2MS42MjVoMTN6IiBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L2c+PC9zdmc+);
  }

  h3,
  p {
    color: $body-color;
  }

  &:hover,
  &:focus {
    text-decoration: none;

    h3 {
      color: $primary;
    }

    h3::after {
      background: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTMgMTMiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJtMCAwaDEzdjEzaC0xM3oiLz48cGF0aCBkPSJtMTAuMzIzNjI1IDYuNzM4ODc1LTEuMTUwNS0xLjE1MDUtMS44NjA2MjUgMS44NjM4NzV2LTcuNDUyMjVoLTEuNjI1djcuNDUyMjVsLTEuODYzODc1LTEuODYzODc1LTEuMTQ5Njg3NSAxLjE1MDUgMy44MjYwNjI1IDMuODIzNjI1em0yLjY3NjM3NSA0LjYzNjEyNWgtMTN2MS42MjVoMTN6IiBmaWxsPSIjREY0MzI2IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L2c+PC9zdmc+);
    }
  }
}

.resp-sharing-container {
  margin-top: -1rem;
  vertical-align: middle;
}

.resp-sharing-label {
  display: block;
  font-size: 0.875em;
  vertical-align: middle;
  padding-bottom: 0.5rem;

  @include media-breakpoint-up(md) {
    display: inline-flex;
  }
}

.resp-sharing {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0 0 0 0.5em;
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.5em 0;
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  //margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--pinterest {
  background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
  background-color: #8c0615
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--tumblr {
  background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
  background-color: #222d3c
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--google {
  background-color: #dd4b39
}

.resp-sharing-button--google:hover {
  background-color: #c23321
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--xing {
  background-color: #1a7576
}

.resp-sharing-button--xing:hover {
  background-color: #114c4c
}

.resp-sharing-button--whatsapp {
  background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
  background-color: #1da851
}

.resp-sharing-button--hackernews {
  background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
  background-color: #507299
}

.resp-sharing-button--vk:hover {
  background-color: #43648c
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}

.resp-sharing-button--whatsapp {
  background-color: #25D366;
  border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
  background-color: #1DA851;
  border-color: #1DA851;
}

.resp-sharing-button--telegram {
  background-color: #54A9EB;
}

.resp-sharing-button--telegram:hover {
  background-color: #4B97D1;}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
